
.navbar-brand{
    color:white ;
    font-size: 30px;
    font-weight: bold;
    display: flex;
    align-items: center;
    gap: 10px;
}
.navbar-brand:hover
{color:white;
    transform: scale(1.1);
}

.menu-bar {
    background: linear-gradient(90deg, #601264, #cb59a9);
    min-height: 100px;
}

.luze {
    color: white !important;
    text-decoration: none;
    font-size: 18px;
    font-weight: 500;
    margin: 0 10px;
    padding: 8px 18px;
    border-radius: 25px;
    transition: 0.3s;
}

.luze:hover {
    color: #601264 !important;
    background-color: white;
}

.luze.luzeactive {
    color: #601264 !important;
    background-color: white !important;
    font-weight: 700;
}
.navbar .form-control{
  border-radius: 20px;
}
.navbar .btn{
    border-radius: 20px;
    color: rgb(171, 170, 171);
    background-color: white;
    border: none;
}
.navbar .form{
    gap:10px;
}
.d-flex{
    gap:8px;
}